:root {
  --red-color: hsl(0, 78%, 62%);
  --cyan-color: hsl(180, 62%, 55%);
  --orange-color: hsl(34, 97%, 64%);
  --blue-color: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  background-color: var(--very-light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  color: var(--very-dark-blue);
}

p {
  color: var(--grayish-blue);
}

.container {
  width: 18.75rem;
  margin: 3.125rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  text-align: center;
}

.text-container .titles h1 {
  font-weight: 200;
}

.titles {
  margin-bottom: 0.9375rem;
}

.cards-container {
  margin-top: 3.125rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1.875rem 0rem;
  grid-template-areas:
    "supervisor-card"
    "team-builder-card"
    "karma-card"
    "calculator-card";
}

.card {
  padding: 1.25rem 1.5625rem 1.25rem 1.5625rem;
  box-shadow: 0rem 0.625rem 2.8125rem -1.25rem rgba(0, 0, 0, 0.4);
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
}

.card .card-text {
  margin-bottom: 1.5625rem;
}

.card-img {
  text-align: right;
}

.supervisor-card {
  grid-area: supervisor-card;
  border-top: solid 0.25rem var(--cyan-color);
}

.team-builder-card {
  grid-area: team-builder-card;
  border-top: solid 0.25rem var(--red-color);
}

.karma-card {
  grid-area: karma-card;
  border-top: solid 0.25rem var(--orange-color);
}

.calculator-card {
  grid-area: calculator-card;
  border-top: solid 0.25rem var(--blue-color);
}

.supervisor-card .card-img,
.karma-card .card-img,
.calculator-card .card-img {
  transform: translateY(25%);
}

@media (min-width: 768px) {
  .container {
    width: 37.5rem;
  }

  .cards-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5625rem 1.5625rem;
    grid-template-areas:
      "supervisor-card supervisor-card team-builder-card team-builder-card"
      "supervisor-card supervisor-card team-builder-card team-builder-card"
      "karma-card karma-card calculator-card calculator-card"
      "karma-card karma-card calculator-card calculator-card";
  }

  .calculator-card .card-img {
    transform: translateY(0);
  }
}

@media (min-width: 1440px) {
  .container {
    width: 62.5rem;
  }

  .text-container {
    width: 31.25rem;
  }

  .text-container .titles {
    font-size: 1.5rem;
  }

  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . team-builder-card team-builder-card . ."
      "supervisor-card supervisor-card team-builder-card team-builder-card calculator-card calculator-card"
      "supervisor-card supervisor-card karma-card karma-card calculator-card calculator-card"
      ". . karma-card karma-card . .";
  }

  .supervisor-card .card-img,
  .karma-card .card-img {
    transform: translateY(0);
  }
}
